certifi==2022.12.7
charset-normalizer==3.0.1
idna==3.4
mypy==1.8.0
mypy-extensions==1.0.0
numpy==1.24.1
opencv-python-headless==4.9.0.80
requests==2.31.0
schedule==1.2.1
slack-bolt==1.18.1
slack_sdk==3.27.1
tomli==2.0.1
types-requests==2.31.0.20240406
typing_extensions==4.9.0
urllib3==2.2.1
